<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card p-3">
            <form (ngSubmit)="save()">
              <table class="table table-dark">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">costo</th>
                    <th scope="col">disponibilidad</th>
                  </tr>
                </thead>
                <tbody scope="row" *ngFor="let pais of paises"  >
                  <tr>
                    <th scope="row">{{pais.id}}</th>
                    <td>{{pais.nombre}}</td>
                    <td>{{pais.costo}}</td>
                    <td>{{pais.disponibilidad}}</td>
                  </tr>
                </tbody>
              </table>
                <h2>Ingrese datos</h2>
                <div>
                    <div class="d-flex gs18 md:fd-column new-login-form">
                      <input  type="text" class="form-control" style="width: 33%;" value="90" disabled  name="nombre" placeholder="id ">
                        <input  class="form-control" style="width: 33%;" [(ngModel)]="formcontacto.nombre"  name="nombre" placeholder="Agregar locacion ">
                        <input  class="form-control" style="width: 33%;" [(ngModel)]="formcontacto.costo"  name="costo" placeholder="costo ">
                        <input  class="form-control" style="width: 33%;" [(ngModel)]="formcontacto.disponibilidad"  name="disponibilidad" placeholder="disponibilidad">
                      </div>
                </div>
                
               <!-- <button class="btn btn-outline-primary">Editar</button> -->
                <button   class="btn btn-outline-primary" style="width: 100%;"  >Guardar</button>
            </form>
            <form (ngSubmit)="eliminar()">
             <!--<a href="./contact.component.html"></a>-->


              <input  class="form-control" [(ngModel)]="formcontacto.id"  name="id" placeholder="Id de la tabla que desea borrar">
              <button   style="width: 100%;" class="btn btn-outline-secondary">Eliminar</button>
            </form>
        </div>
    </div>
    <div class="col-2"></div>
</div>

