<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card p-3">
            <form (ngSubmit)="save()">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <li scope="row" *ngFor="let pais of paises" >
                      {{pais.name}}
                    </li>
                  </tr>
                </tbody>
              </table>
                <h3>CRUD DE DATOS</h3>
                <div>
                    <div class="mb-3">
                        <label  class="form-label">Nombre</label>
                        <input  class="form-control" [(ngModel)]="formcontacto.nombre" name="nombre" placeholder="Nombre location">
                      </div>
                </div>
                <button class="btn btn-outline-primary"  >Editar</button>
                <button class="btn btn-outline-primary" style="width: 50%;" >Guardar</button>
                <button  class="btn btn-outline-secondary">Eliminar</button>

            </form>

        </div>
    </div>
    <div class="col-2"></div>
</div>

